/* #ClientReview .swiper {
  width: 100%;
  height: 50vh;
} */
#ClientReview {
  background-image: linear-gradient(to top, #ffffffd0, #f7f7f777),
    url("../../images/section_bg/review.jpg");

  background-color: #ccccccdc; /* Used if the image is unavailable */
  height: auto; /* You must set a specified height */
  width: 100%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

#ClientReview .mySwiper {
  position: relative; /* Ensures Swiper container has relative positioning */
}
#ClientReview .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #ff000000;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

#ClientReview .swiper-slide img {
  /* display: block;
  width: 100%;
  height: 100%; */
  /* object-fit: cover; */
}
/* content center  */
.banner_content_center {
  position: absolute;
  bottom: 0%;
  left: 50%;
  z-index: 1;
  width: 100%;
  transform: translate(-50%, -0%);
  -webkit-transform: translate(-50%, -0%);
  -moz-transform: translate(-50%, -0%);
  -ms-transform: translate(-50%, -0%);
  -o-transform: translate(-50%, -0%);
}
#ClientReview .swiper-button-next,
#ClientReview .swiper-button-prev {
  color: #fff; /* Change color to ensure they are visible */
  z-index: 10; /* Ensure they are on top */
}
#ClientReview .swiper-pagination-bullet {
  background-color: #511bb6;
}
